- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  p
    |  YourName:
    = current_user.name
h2
  | All Chats
.message
  = render partial: 'rooms/messages', locals: { messages: @messages}
#add-message
  input[type="text"
        data-behavior="room_speaker"
        data-user="#{current_user.id}"]
.follow-wraper
  .all-user
    h4 ユーザー 一覧
    - @users.each do |user|
      ul
        li
          = user.name
          - if user.followed_by?(current_user)
            span フォロー済み
          - else
            span
              = link_to "フォローする", user_relationships_path(user.id), method: :post
  .following-user
    h4 フォロー中ユーザー
    ul
      - @followings.each do |f|
        - if current_user.followed_by?(f)
          li
            = f.name
            = link_to "チャットルームへ", room_path(f)
        - else
          li
            = f.name
  .followed-user
    h4 あなたをフォローしているユーザー
    ul
      - @followers.each do |f|
        li
          = f.name
          span
            = link_to "フォローする", user_relationships_path(f.id), method: :post
