// Place all the styles related to the Room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.room-index{
  height: 100vh;
  display: flex;

  &__open-talks{
    width: 100%;
    overflow-y: scroll;

    .open-talks{

      &__index{
        margin: 0 auto 5px;
        border-radius: 5px;
        padding: 3px 0;
        border: 2px dotted #f2cca7;
        background-color: #f5e0cb;
        width: 95%;

        &--data{
          display: flex;
          list-style: none;
          font-size: .75rem;

          .create-time{
            margin-right: 20px;
          }
        }
      }
    }

    .create-room{
      padding: 15px;
      input{
        border: 1px solid #888;
        border-radius: 2px;

        .open-talk-submit{
          margin-left: 10px;
        }
      }
    }

    .open-talks{
      p{
        padding-left: 15px;
        margin-bottom: 8px;
      }
    }
  }
}



// room-show.group
#room-group,
#room-show{
  background-image: image-url("/assets/sangaku.jpg");
  background-size: cover;
  height: 100vh;

  .room-show{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #fff;

    &__name{
      padding: 10px;
      margin: 20px 0;
      color: #999;
      display: flex;
      justify-content: space-between;

      &--favorite{
        font-size: .8rem;
        color: orange;
      }
    }

    &__messages{
      padding: 0 10px 5px 10px;

      &--ps{
        text-align: center;
        font-size: .7rem;
        background: #eee;
        margin: 8px 0;

        p{
          padding: 3px 0;
        }
      }

      &--message{
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;

        .message-image{
          float: left;
          img{
            width: 50px;
            height: 50px;
          }
        }

        .message-name{
          display: flex;
          justify-content: space-between;

          &__name{
            color: #777;
            font-size: .85rem;
          }
          &__time{
            font-size: .5rem;
            line-height: 20px;
          }
        }
        .message-contents{
          font-size: .9rem;
          padding: 6px 0 ;

          p{
            // エンターとかの改行をHTMLに反映させるCSS
            white-space: pre-wrap;
          }
        }
      }
    }

    &__form{
      margin-bottom: 30px;
      .form{
        width: 80%;
        margin: 0 auto;

        textarea{
          width: 100%;
          border: 1px solid #ccc;
          outline: none;
          font-size: .8rem;
        }

        textarea::placeholder{
          font-size: .8rem;
        }
      }
    }

    &__link{
      margin-bottom: 30px;
      &--top{
        text-align: center;
      }
    }
  }
}
