// Place all the styles related to the Room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.room-index{
  height: 100vh;
  display: flex;

  &__open-talks{

    .open-talks{

      &__data{
        display: flex;
        list-style: none;
        font-size: .75rem;

        &--create-time{
          margin-right: 20px;
        }
      }
    }

    .create-room{
      input{
        border: 1px solid #888;
        border-radius: 2px;

        .open-talk-submit{
          margin-left: 10px;
        }
      }
    }
  }
}



// room-show.group
#room-group,
#room-show{
  background-color: #444;
  height: 100vh;

  .room-show{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #fff;

    &__name{
      padding: 10px;
      color: #999;
    }

    &__messages{
      padding: 0 10px 5px 10px;

      &--ps{
        text-align: center;
        font-size: .7rem;
        background: #eee;
        margin: 8px 0;

        p{
          padding: 3px 0;
        }
      }

      &--message{
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;

        .message-name{
          display: flex;
          justify-content: space-between;

          &__name{
            color: #777;
            font-size: .85rem;
          }
          &__time{
            font-size: .5rem;
            line-height: 20px;
          }
        }
        .message-contents{
          font-size: .9rem;
          padding: 6px 0 ;
        }
      }
    }

    &__form{
      margin-bottom: 30px;
      .form{
        width: 80%;
        margin: 0 auto;

        textarea{
          width: 100%;
          border: 1px solid #ccc;
          outline: none;
        }
      }
    }

    &__link{
      margin-bottom: 30px;
      &--top{
        text-align: center;
      }
    }
  }
}
